.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}

.users-list, .unassigned-tasks {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.users-list h3, .unassigned-tasks h3{
  margin: 0 0 10px;
}

.dashboard {
 display: grid;
  grid-template-columns: 150px repeat(4, 1fr);
  gap: 10px;
}

.header, .row {
  display: contents;
}

.user, .slot {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.task-card {
  background-color: #f0f8ff;
  padding: 5px;
  border-radius: 5px;
  cursor: move;
}

.task-card.dragging {
  opacity: 0.5;
}

.slot.hover {
  background-color: #f0f0f0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
